{% extends "base.html" %}
{% block content %}
<div class="jumbotron">

  <form method="POST" style="font-size:1.5vw;" >
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    <h1>Select your command</h1>
    <br>
    Update Firmware and Reboot {{ form.command_update() }}
    <br>
    <br>
    Delete all locally stored clockings (in the device) {{ form.command_delete_clockings() }}
    <br>
    <br>
    Set the distinct Ethernet MAC Address {{ form.command_set_ethernet_mac() }}
    <br>
    <br>
    Delete all IP addresses (Ethernet and WiFi) {{ form.command_delete_IPs() }}
    <br>
    <br>
    Send Email with Log of last 500 registered cards (define the Email before) {{ form.command_send_emailLogs() }}
    <br>
    <br>   
    Reboot the Device {{ form.command_reboot() }}
    <br>
    <br>
    Partial Reset: set the parameters to their factory values except for the Odoo link and the clockings  {{ form.command_partial_reset() }}
    <br>
    <br>
    Full Factory Reset: set the parameters to their factory values {{ form.command_full_reset() }}
    <br>
    <br>
    Associate current router permanently to the device {{ form.command_marry_router() }}
    <br>
    <br>
    Remove any association to a specific router {{ form.command_divorce_router() }}
    <br>
    <br>
    Shutdown the Device {{ form.command_shutdown() }}
    <br>
  </form>

</div>

{% endblock %}