{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>Setup and Information Server</h1>
    <p style="font-size:1.5vw;">This server allows you to:</p>
      <ul>
      <li style="font-size:1.5vw;">connect the device to a WiFi Network,</li>
      <li style="font-size:1.5vw;">link the device to an Odoo Server,</li>
      <li style="font-size:1.5vw;">get current info about the device,</li>
      <li style="font-size:1.5vw;">update the Firmware,</li>
      <li style="font-size:1.5vw;">reboot the device,</li>
      <li style="font-size:1.5vw;">shutdown the device,</li>
      <li style="font-size:1.5vw;">reset the device to the factory settings.</li>
      </ul>

  </div>

{% endblock %}
