{% extends "base.html" %}
{% block content %}
<div class="jumbotron">

  <form method="POST" style="font-size:1.5vw;" >
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    <h1>Change Parameters</h1>
    (you may only change one parameter at a time)
    <br>
    <br>
    {{ form.setup_password.label }} {{ form.setup_password() }} {{ form.option_setup_password() }}
    <br>
    <br>
    {{ form.device_name.label }} {{ form.device_name() }} {{ form.option_device_name() }}
    <br>
    <br>
    {{ form.time_format.label }} {{ form.time_format() }} {{ form.option_time_format() }}
    <br>
    <br>
    {{ form.tz.label }} {{ form.tz() }} {{ form.option_tz() }}
    <br>
    <br>
    {{ form.text_card.label }} {{ form.text_card() }} {{ form.option_text_card() }}
    <br>
    <br>
    {{ form.min_time.label }} {{ form.min_time() }} {{ form.option_min_time() }}
    <br>
    <br>
    {{ form.text_too_soon.label }} {{ form.text_too_soon() }} {{ form.option_text_too_soon() }}
    <br>
    <br>
    {{ form.period_register_clockings.label }} {{ form.period_register_clockings() }} {{ form.option_period_register_clockings() }}
    <br>
    <br>
    {{ form.display_time.label }} {{ form.display_time() }} {{ form.option_display_time() }}
    <br>
    <br>
    {{ form.clockings_expiration.label }} {{ form.clockings_expiration() }} {{ form.option_clockings_expiration() }}
    <br>
    <br>
    {{ form.show_in_out.label }} {{ form.show_in_out() }} {{ form.option_show_in_out() }}
    <br>
    <br>
    {{ form.check_in_message_display.label }} {{ form.check_in_message_display() }} {{ form.option_check_in_message_display() }}
    <br>
    <br>
    {{ form.check_out_message_display.label }} {{ form.check_out_message_display() }} {{ form.option_check_out_message_display() }}
    <br>
    <br>
    {{ form.show_debug.label }} {{ form.show_debug() }} {{ form.option_show_debug() }}
    <!-- <br>
    <br>
    {{ form.use_self_generated_eth0_MAC_address.label }} {{ form.use_self_generated_eth0_MAC_address() }} {{ form.option_use_self_generated_eth0_MAC_address() }} -->
    <br>
    <br>
    <br>
    <a style="font-size:1.5vw;" class='btn btn-primary' href="{{ url_for('daily_reboot.daily_reboot_time') }}">Daily reboot</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br> 
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>  
    <h1>DANGER ZONE - SPECIAL PARAMETERS</h1>
    (Do not change this parameters if you do not know what you are exactly changing)
    <br>
    <br>
    {{ form.odooUrlTemplate.label }} {{ form.odooUrlTemplate() }} {{ form.option_odooUrlTemplate() }}
    <br>
    <br>
    {{ form.odoo_host.label }} {{ form.odoo_host() }} {{ form.option_odoo_host() }}
    <br>
    <br>
    {{ form.odoo_port.label }} {{ form.odoo_port() }} {{ form.option_odoo_port() }}
    <br>
    <br>
    {{ form.register_template.label }} {{ form.register_template() }} {{ form.option_register_template() }}
    <br>
    <br>
    {{ form.runs_locally.label }} {{ form.runs_locally() }} {{ form.option_runs_locally() }}
    <br>
  </form>

</div>

{% endblock %}